
body,
        html {
            position: relative;
            height: 100%;
            width: 100%;
        }

        #home {
            padding-top: 50px;
            height: 100%;
            color: #000;
            background-color: #b3d1ff;
            
        }

        #java {
            padding-top: 50px;
            height: 100%;
            color: #fff;
            background-color: #7070db;
            font-size: 20px;
        }

        #python {
            padding-top: 50px;
            height: 100%;
            color: #000;
            background-color: #b3d1ff;
            font-size: 20px;
        }

        #select {
            padding-top: 50px;
            height: 100%;
            color: #fff;
            background-color: #7070db;
        }

        #footer {
            padding-top: 50px;
            height: 25%;
            color: #000;
            background-color: #b3d1ff;
        }
.title
{
    font-size: 44px;
    font-family: cursive;
}
